body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #020617, #020617);
  color: #e5e7eb;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  max-width: 350px;
  width: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #020617;
}

.card {
  background: #020617;
  margin: 20px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: #22c55e;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #1e293b;
  text-align: center;
}

th {
  background: #020617;
}

